body {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #3b3b3b;
  padding: 15px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
  position: relative;
  /* Make the footer a positioned container */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  /* Separate items with space between them */
  align-items: center;
  max-width: max-content;
  /* Set a max-width for the content */
  margin: 0 auto;
  /* Center the content horizontally */
}

.footer-logo {
  /* You can adjust the max-width if needed */
}

.footer-logo img {
  max-height: 90px;
}

.footer-contact {
  text-align: right;
  position: absolute;
  /* Position the contact info to the right */
  right: 15px;
  /* Adjust the distance from the right */
}

/* Optional: Style the contact info */
.footer-contact p {
  margin: 5px 0;
  padding-right: 25px;
}

.footer-logo {
  background-color: whitesmoke;
  margin: 0 auto;
  max-width: fit-content;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 4px;

}