.App {
  text-align: center;
  /* background-color: aqua; */
}

.content {
  /*margin: 1em;*/
  display: flex;
  justify-content: center;
  gap: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
  /* Adjust the color as needed */
  text-decoration: none;
  transition: color 1.3s ease, transform 1.3s ease, font-size 1.3s ease;
  /* Add a smooth color transition */
  transform-origin: center bottom;
  /* Set the transform origin */
  overflow: hidden !important;
  background-color: #101820;
  padding-top: 20px;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;


}

/* .content:hover {
  color: #101820;
  transform: scale(1.1);
  overflow: hidden !important;
} */

.active {
  color: #101820;
  font-size: 22px;
  background-color: #ff3131;
  /* background: linear-gradient(to top, #ffffff, #ffd8d8, #ff3131); */
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  margin-bottom: 45px;
  border-radius: 5px;
}